<!-- About Section -->
<section id="about" class="text-center">
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/><br/>
          <h2>About</h2>
          <br/>
          <div class="about-description">
          <p>唷齁～育正和小手要結婚囉！<a class="page-scroll" href="#time">今年底(2017/12/30)</a>，我們將在<a class="page-scroll" href="#location">桃園青青</a>舉辦婚宴♥</p>
          <p>由於我們幾乎都在國外，平常很難得見到大家，希望各位朋友有空的話可以來我們的婚宴，順便當作辦同學會。為了讓各位不虛此行，我們計劃在婚禮中加入裝置藝術，讓婚宴更特別、更有趣～小手也會努力克服手汗症，帶給大家一段筋肉系鋼管舞٩(˃̶͈̀௰˂̶͈́)و！</p>
          <p>最後，育正和小手平常都很低調，不想錯過難得的公然放閃畫面的話，還請大家踴躍報名參加>////<。可以來的朋友請填一下<a class="page-scroll" href="#contact">底下的問卷</a>，方便我們統計人數和規劃場地唷～感謝你</p>
          </div>
          <div><img src="{{ 'img/bow.png' | prepend:site.baseurl }}" /><img src="{{ 'img/bow.png' | prepend:site.baseurl }}" /></div>
        </div>
      </div>
    </section>
