<!-- About Section -->
<section id="about" class="text-center">
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/><br/>
          <h2>About</h2>
          <br/>
          <p>唷齁～育正和小手要結婚囉！<a class="page-scroll" href="#time">今年底(2017/12/30)</a>，我們將在<a class="page-scroll" href="#location">桃園青青</a>舉辦婚宴♥</p>
          <p>由於我們幾乎都在國外，平常很難得見到大家，希望各位朋友有空的話可以來我們的婚宴順便同學會(=´∀｀)人(´∀｀=)</p>
          <p>為了讓各位不虛此行，我們計劃在婚宴加入我們的專長，讓婚宴更特別更有趣～</p>
          <p>想看小手跳鋼管秀肌肉的話請不要錯過育正和小手的婚禮唷！耶～</p>
          <p>可以參加的朋友也麻煩填一下<a class="page-scroll" href="#contact">底下的問券</a>以便我們統計人數唷～感謝你♥</p>
        </div>
      </div>
    </section>
