<section id="contact" class="text-center">
  <div class="content-section-a">
    <div class="container">
			<div class="row">
        <h2>Contact</h2>
        <p>若下面表單顯示異常,請<a href="https://docs.google.com/forms/d/e/1FAIpQLSco7bhD4KI6viAb5NdjE6Z3tod9KEQOPEiSyk3R9xjXj6RX1g/viewform">點此連結填寫</a></p>
        <iframe class="col-md-12" src="https://docs.google.com/forms/d/e/1FAIpQLSco7bhD4KI6viAb5NdjE6Z3tod9KEQOPEiSyk3R9xjXj6RX1g/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" height="1650">Loading...</iframe>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
