<!-- Location Section -->

<section id="location" class="text-center">
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br>
          <h2>婚宴地點</h2>
          <h3><a href="http://www.77-67.com/weddingProjectList.php?d=10">青青風車莊園</a></h3>
          <p>電話: 02-2841-1996</p>
          <p>地址: 桃園市蘆竹區中正北路326號</p>
          <div class="row">
            <div class="map-container col-lg-12">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3345.6933585532147!2d121.28449958063023!3d25.0360980538411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x57d684ad2eab4f66!2z6Z2S6Z2S6aKo6LuK6I6K5ZyS!5e0!3m2!1szh-TW!2stw!4v1483847766016" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></iframe>
          </div>
        </div>
        <div class="text-left">
          <h3>自行開車: </h3>
          <p>• 中山高(南下)下南坎/蘆竹交流道，往蘆竹方向前進下交流道直行中正北路，風車就在右手邊</p>
          <p>• 中山高(北上)下南崁交流道後，再接南下中山高往中壢/蘆竹，於蘆竹交流道下，下來就是中正北路，風車就在右手邊</p>
          <h3>高鐵:</h3>
          <p>• 計程車-高鐵桃園車站到風車莊園正常車程約15分鐘</p>
          <h3>公車:</h3>
          <p>• 桃園後火車站-捷運坑口站 桃園航空捷運先導公車(GR綠線) 經桃園中正路一接蘆竹中正北路，在南竹路口下車後往回走約兩分鐘</p>
          <img class="img-center" src="{{'img/bus.png' | prepend: site.baseurl}}">
          <br>
        </div>
      </div>
    </div>
  </section>
