<!-- Time Section -->
<section id="time" class="text-center">
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br>
          <h2>時間與流程</h2>
          <br>
          <div class="row time-entry">
            <div class="col-xs-5 col-sm-3 col-lg-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-3 text-right">
              <p>日期</p>
            </div>
            <div class="col-xs-7 text-left">
              <p>2017.12.30 星期六</p>
            </div>
          </div>
          <div class="row time-entry-b">
            <div class="col-xs-5 col-sm-3 col-lg-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-3 text-right">
              <p>11:00 - 12:00</p>
            </div>
            <div class="col-xs-7 text-left">
              <p>戶外證婚儀式+雞尾酒會</p>
            </div>
          </div>
          <div class="row time-entry-b">
            <div class="col-xs-5 col-sm-3 col-lg-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-3 text-right">
              <p>12:30 - 15:30</p>
            </div>
            <div class="col-xs-7 text-left">
              <p>午宴</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
